.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content:stretch;
  text-align:start;
  background: #50bec2;
  color: #fff;
  padding: 10px 50px 10px 50px;
}

.nav-bar div {
  flex: 1;
  /* border: solid; */
  padding: 1em 1em 1em 1em;
}

a {
  color: #ffffff;
  font-weight: bold;
}

.dropdown-menu {
  background-color:  #50bec2;
}

.myAccount-button {
  padding: 0.5rem 4rem !important;
  background-color: rgb(85,192,196, 0);;
}

.cart {
  font-size: 30px;
}

.home {
  font-size: 30px;
}







